html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

.colmar {
  font-weight: bold;
}

.academy {
  color: grey;
}

nav ul {
  display: flex;
  margin-right: 1.5rem;
}

nav ul li {
  padding-left: 1rem;
}

/* banner */

.banner {
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

.banner-img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-img img {
  width: 100%;
}

.banner-info {
  width: 35%;
}

.banner-info h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
}

.banner-info h3 {
  margin-top: 1.5rem;
  font-weight: bold;
}

.banner-info .button {
  width: 85%;
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
}
