html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

.colmar {
  font-weight: bold;
}

.academy {
  color: grey;
}

nav ul {
  display: flex;
  margin-right: 1.5rem;
}

nav ul li {
  padding-left: 1rem;
  font-size: 0.75rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* first try


.banner {
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

.banner-img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-img img {
  width: 100%;
}

.banner-info {
  width: 35%;
}

.banner-info h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
}

.banner-info h3 {
  margin-top: 1.5rem;
  font-weight: bold;
}

.banner-info .button {
  width: 85%;
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
}



.information {
  display: flex;
}

.information-main {
  width: 60%;
  margin: 2rem 1.5rem;
}

.information-main img {
  width: 100%;
}

.information-secondary {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.section {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.section-image {
  width: 35%;
  margin: 1rem;
}

.section-image img {
  width: 100%;
  height: auto;
}

.section-info {
  width: 65%;
}

*/


/* second try */
/* banner */
.content {
  display: flex;
  width: 100%;
}

.banner {
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.banner-image {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-image img{
  width: 100%;
}

.banner-text {
  width: 40%;
  margin-top: 2rem;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

.banner h3 {
  margin-top: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.banner .button {
  color: white;
  background-color: black;
  padding: 0.5rem;
  text-align: center;
  width: 85%;
  margin-top: 1.5rem;
}

/* information section */
.information-main {
  width: 60%;
  margin: 2rem 0 2rem 1.5rem;
  padding-right: 1.5rem;
  border-right: 1px solid lightgrey;
}

.information-main-image img {
  width: 100%;
}

.information-secondary {
  width: 40%;
  margin-top: 1rem;
}

.information {
  display: flex;
  width: 100%;
  align-items: center;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.information-image {
  width: 35%;
  margin: 1rem;
  height: auto;
}

.information-image img {
  width: 100%;
}

.information-text {
  width: 65%;
}
